
.Emergency_container {
  font-family: 'Lora', serif;

    background-color: #f4f4f4;
  }
  
  .Emergency_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003E73;
    padding: 15px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .Emergency_logo {
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
  }
  
  .Emergency-logo:hover {
    color: #f39c12;
  }
  .Emergency_nav-links {
    display: flex;
    gap: 25px;
  }
  h1 {
    text-align: center;
    margin-top: 30px;
  }
  .Emergency_nav-links a {
    color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .Emergency_nav-links a:hover {
    color: #f39c12;
  transform: translateY(-2px);
  }

  .Emergency_section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
  }
  
  .Emergency_options {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .Emergency_option {
    width: 30%;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
  }
  
  .Emergency_option h3 {
    color: #333;
  }
  
  .Emergency_call-btn,
  .Emergency_link {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
  }
  
  .Emergency_call-btn:hover,
  .Emergency_link:hover {
    background-color: #0056b3;
  }
  
  .Emergency_footer {
    text-align: center;
    margin-top: 30px;
  }
  
  .Emergency_footer a {
    color: #007bff;
    text-decoration: none;
  }
  
  .Emergency_footer a:hover {
    text-decoration: underline;
  }
  